.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  h1 {
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    font-family: Goldman;
  }
  h2 {
    line-height: 36px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
}
