// _variables.scss
$primary-color: #3498db;
$secondary-color: #e74c3c;
$TDC-orange: #f07707;
$dark-TDC-orange: #e05a00;
$blue: #022351;
$water-blue: rgba(7, 116, 186, 1);
$light-gray: rgba(99, 99, 99, 1);
$extra-light: rgba(217, 217, 217, 1);
