// main.scss
@import "variables";
@import "mixins";
@import "base";

body {
  overflow-x: hidden;
}

// html {
//   font-size: 14px;
// }
.container {
  padding: 30px 60px;
  min-width: 100%;
  height: 1054px;
  color: white;
  background-image: url("../../public/images/hero-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.custom-modal {
  .modal-backdrop {
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal-dialog {
    max-width: 600px;
  }
}

.container-fluid {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  background-color: black;
}

.star {
  color: red;
}

.checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  span {
    color: $TDC-orange;
    font-weight: 700;
  }
}

.orange-button {
  all: unset;
  margin-top: 2rem;
  background-color: $TDC-orange;
  border-color: $TDC-orange;
  color: white;
  font-weight: bold;
  padding: 8px 40px;
  border-radius: 3px;
  &:hover {
    background-color: #e05a00;
    border-color: $dark-TDC-orange;
  }
  &:focus {
    outline: none;
  }
}

.blue-button {
  all: unset;
  margin-top: 2rem;
  background-color: rgba(54, 93, 174, 1);
  border-color: rgba(54, 93, 174, 1);
  color: white;
  font-weight: bold;
  padding: 8px 40px;
  border-radius: 3px;
  &:hover {
    background-color: rgba(54, 93, 174, 0.8);
    border-color: rgba(54, 93, 174, 0.8);
  }
  &:focus {
    outline: none;
  }
}

.white-button {
  all: unset;
  margin-top: 2rem;
  background-color: white;
  color: $TDC-orange;
  font-weight: bold;
  padding: 8px 40px;
  border-radius: 3px;

  :focus {
    outline: none;
  }
}

.text-center {
  text-align: center;
}

.text-orange {
  color: $TDC-orange;
}

.text-black {
  color: black;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.mb-4 {
  margin-bottom: 4px;
}
